

.miDiv{
    margin:0 auto;
}

input{
    /*width:90%;*/
    display: block;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #121212;
    margin:1rem 0;
}

button {
    margin:2rem auto;
    width: 90%;
}

#importante {
    font-size:xx-large;
    color: orange
}